<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface></composite:interface>
<composite:implementation>

    <div id="ccTemplate">lib/2_3/template.xhtml</div>
    <div id="ccContent">
        <ui:insert name="ccContent"/>
    </div>
    <ui:decorate template="template.xhtml">
        <ui:define name="ccContent">
            host1/lib/2_3/cc.xhtml
        </ui:define>
    </ui:decorate>
</composite:implementation>
</html>
