<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="default.css" />
        <h:outputStylesheet name="cssLayout.css" />
        <title><ui:insert name="title"/></title>
    </h:head>

    <h:body>

        <div id="left">
            <ui:insert name="menu">Menu</ui:insert>
        </div>
        <div id="content" class="left_content">
        <h:form>
            <p><h:selectBooleanCheckbox value="#{userBean.navToggle}">
               </h:selectBooleanCheckbox>
                nav toggle  <h:commandButton value="reload" /></p>
        </h:form>

            <ui:insert name="content">Content</ui:insert>
        </div>

    </h:body>

</html>
